body {
	background: #fff !important;	
}

.wrapper {	
  width: 20%;
  margin: 10% auto;
  padding-top: 5%;
}

.wrapper img {
	width: 100%;
}

.btn-primary {
	background-color: #474c55;
	border: none;
}

.btn-primary:hover {
	background-color: #f26925;
}

.modal-header {
	background-color: #f26925;
	color: #fff;
}

.modal-footer {
	background-color: #b9b9ba;
}

	.nav-pills {
	background-color: #f26925;
	}
	
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #fff;
	font-weight: bold;
	border: 1px solid #f26925;
	background-color: #f26925;
	}
	
	.nav-tabs>li>a:hover {
	color: #474c55;
	text-decoration: underline;
	background-color: #fff;
	}
	
	.nav>li>a {
	color: #f26925;
	}
	
	
	
	.navbar-inverse {
	background-color: #b9b9ba;
	border: 1px solid #b9b9ba;
	}
	
	.navbar-inverse .navbar-brand {
	color: #fff;
	}
	
	.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	}

.form-signin {
  max-width: 100%;
  padding: 1% 3% 5%;
  margin: 5% auto;
  background-color: #fff;
  border: 1px solid #474c55;  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 5%;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: 5%;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

}
