.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
   overflow-x: auto;
    width: auto;
    min-width: 300px;   
}
.testing{
    position: relative; 
    float: left;
}